---
import PageLayout from "@/layouts/Base.astro";

---


<PageLayout meta={{title: "Experiences"}}>
  <div>
    <h1 class="title mb-12">Professinal Experiences</h1>
    <section>
      <div>

      </div>
      <div>
        
      </div>
    </section>
  </div>

</PageLayout>