---
import { type CollectionEntry } from "astro:content";
import PostPreview from "@/components/blog/PostPreview.astro";
import SocialList from "@/components/SocialList.astro";
import { getAllPosts } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";
import { collectionDateSort } from "@/utils/date";

// Posts
const MAX_POSTS = 5;
const allPosts = await getAllPosts();
const allPostsByDate = allPosts.sort(collectionDateSort) as CollectionEntry<"post">[];
const latestPosts = allPostsByDate.slice(0, MAX_POSTS);

---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-12">Hello, (ฅ^•ﻌ•^ฅ)</h1>
		<p class="mb-4">
			"I'm Danang Wijayanto, a software engineer passionate about building things that make a real impact. 
      I'm currently deepening my understanding across frontend, backend, and infrastructure,
      curious about how every layer of software fits together to create something meaningful.
      In my free time, I'm someone who loves to explore. Always curious about something new, especially
      the latest technology, and occasionally exploring the world of gaming.
		</p>


		<SocialList />
	</section>
	
	<section class="mt-16">
		{latestPosts.length <= 0 ? null :
      <h2 class="title text-accent mb-6 text-xl"><a href="/posts/">Latest Posts</a></h2>
      <ul class="space-y-4" role="list">
        {
          latestPosts.map((p) => (
            <li class="grid gap-1 sm:grid-cols-[auto_1fr]">
              <PostPreview post={p} />
            </li>
          ))
        }
      </ul>
    }
	</section>

</PageLayout>
